@use '../../utils/media';
@use '../../utils/fonts';
@use '../../utils/vars';
@use '../../utils/button';
@use '../../utils/mixins';

.future {
  @include media.grid-320;

  margin-bottom: 110px;

  &__container {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      order: 1;

      @include fonts.h2-mobile;
    }

    &-text {
      order: 3;

      @include fonts.secondary;

      align-self: flex-start;
    }

    &-link {
      order: 4;

      align-self: flex-start;

      margin-top: 30px;

      a {
        @include fonts.button;

        color: vars.$green-900;
        text-decoration: none;
      }

      @include button.hover;

      &:hover {
        transform: translateY(-4px) scale(1.01);
      }
    }

    &-image {
      order: 2;
      width: 100%;

      margin: 30px 0 20px;

      & img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
} // @include media.grid-768 {
// }

// @include media.grid-1440 {
// }
