@use '../../utils/media';
@use '../../utils/fonts';
@use '../../utils/vars';
@use '../../utils/button';

.meetluna {
  @include media.grid-320;

  margin: 110px 0;

  &__container {
    grid-column: 1 / -1;
    box-sizing: border-box;

    // --- Technika "Full Bleed" (rozciągnięcie na całą szerokość ekranu) ---
    position: relative;
    right: 50%;
    left: 50%;

    // Ustawia szerokość elementu na 100% szerokości okna przeglądarki.
    width: 100vw;
    min-height: 195px;
    margin-right: -50vw;
    margin-left: -50vw;

    background-image: url('/src/images/main/meet/meet-luna-mobile.png');

    // Skaluje obrazek tak, aby był w całości widoczny w kontenerze, zachowując proporcje.
    // Obrazek nie zostanie przycięty.
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include media.grid-768 {
    &__container {
      position: static;
      left: auto;
      right: auto;

      width: 100%;
      height: auto;
      min-height: 430px;
      margin-right: 0;
      margin-left: 0;

      background-image: url('/src/images/main/meet/meet-luna-tablet.png');
    }
  }

  @include media.grid-1440 {
    grid-column: 3 / span 8;

    &__container {
      min-height: 520px;

      background-image: url('/src/images/main/meet/meet-luna-desktop.png');
    }
  }
}
