@use '../utils/vars';

@mixin h1-desktop {
  font-weight: 700;
  font-size: 62px;
  line-height: 126%;
  text-transform: uppercase;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin h1-tablet {
  font-weight: 700;
  font-size: 48px;
  line-height: 129%;
  text-transform: uppercase;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin h1-mobile {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-transform: uppercase;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin h2-desktop {
  font-weight: 700;
  font-size: 56px;
  line-height: 125%;
  text-transform: uppercase;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin h2-tablet {
  font-weight: 700;
  font-size: 36px;
  line-height: 128%;
  text-transform: uppercase;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin h2-mobile {
  font-weight: 700;
  font-size: 30px;
  line-height: 133%;
  text-transform: uppercase;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin h3-desktop {
  font-weight: 700;
  font-size: 34px;
  line-height: 124%;
  text-transform: uppercase;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin h3-tablet {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin h3-mobile {
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  text-transform: uppercase;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 137%;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  text-transform: uppercase;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin button {
  font-weight: 700;
  font-size: 12px;
  line-height: 117%;
  text-transform: uppercase;
  font-family: vars.$font-family;
}

@mixin main {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}

@mixin secondary {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}
@mixin third {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: vars.$black-1000;
  font-family: vars.$font-family;
  text-transform: uppercase;
}

@mixin quote-desktop {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}
@mixin quote-mobile {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  color: vars.$black-1000;
  font-family: vars.$font-family;
}
