// Green
$green-900: #0db2b3;
$green-700: #d6ecec;
$green-600: #cfeff0;
$green-300: #eefafa;

// Black
$black-1000: #000;
$black-900: #131313;
$black-600: #333;
$black-300: #4f4f4f;
$black-200: #828282;

// Gray
$gray-900: #7c7c7c;
$gray-600: #bdbdbd;
$gray-300: #d0d0d0;

// White
$white-200: #f7f7f7;
$white: #fff;

// Validation
$valid: #0c797a;
$invalid: #eb5757;
$invalid-text: #eb57574d;

// Fonts
$font-family: 'Inter', sans-serif;
