@use '../../utils/media';
@use '../../utils/fonts';
@use '../../utils/vars';
@use '../../utils/button';

.header {
  @include media.grid-320;

  overflow: hidden;

  grid-template-rows: 76px auto;

  background-color: vars.$white-200;

  &__container {
    grid-column: 1 / -1;
    display: flex;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 26px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &-item {
      display: none;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3px;
    }

    &-btn {
      display: none;
    }

    &-menu {
      border: none;
    }
  }

  &__context {
    grid-column: 1 / -1;
    grid-row: 2 / 2;

    display: flex;
    flex-direction: column;

    margin: 0 0 110px;

    &-container {
      order: 2;
    }

    &-title {
      margin: 0 0 20px;

      @include fonts.h1-mobile;
    }

    &-subtitle {
      @include fonts.main;
    }

    &-image {
      order: 0; // W kontenerze flex, ten element będzie wyświetlany jako pierwszy (przed tekstem).
      width: 100vw; // Ustawia szerokość elementu na 100% szerokości okna przeglądarki (viewport width).
      height: 100vw; // Ustawia wysokość na 100% szerokości okna, tworząc kwadratowy obraz.
      min-height: 245px; // Zapewnia minimalną wysokość, aby obraz nie był zbyt mały na wąskich ekranach.
      position: relative; // Niezbędne do użycia właściwości `left` i `right`.
      left: 50%; // Przesuwa lewą krawędź elementu do środka jego kontenera nadrzędnego.
      right: 50%; // Działa podobnie jak `left`, zapewniając, że element jest wyśrodkowany.
      margin-left: -50vw; // Przesuwa element w lewo o połowę szerokości ekranu.
      margin-right: -50vw; // Przesuwa element w prawo o połowę szerokości ekranu.

      // Powyższa kombinacja `position`, `left`, `right` i ujemnych marginesów
      // pozwala obrazowi "wyjść" z ograniczeń kontenera i zająć całą szerokość ekranu.

      background-image: url('/src/images/header/header-mobile.png'); // Ścieżka do obrazu dla urządzeń mobilnych.
      background-size: contain; // Skaluje obraz, aby pokrył cały element, zachowując proporcje.
      background-position: center; // Wyśrodkowuje obraz wewnątrz elementu.
      background-repeat: no-repeat; // Zapobiega powtarzaniu się obrazu tła.
    }
  }

  @include media.grid-768 {
    grid-template-rows: 108px auto;

    &__nav {
      &-item {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: vars.$black-300;

        @include fonts.main;
      }

      &-btn {
        @include button.button;

        width: 100px;
        color: vars.$white;
      }
    }

    &__context {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      align-items: center;
      gap: 20px;

      margin: 100px 0 140px;

      &-container {
        grid-column: 1 / span 3;
        order: 0;
      }

      &-title {
        margin: 0 0 30px;

        @include fonts.h1-tablet;
      }

      &-image {
        grid-column: 4 / -1;
        order: 1;

        background-image: url('/src/images/header/header-tablet.png');

        position: static;
        background-size: contain; // Obrazek dopasowuje się do kontenera bez przycinania, zachowując proporcje.
        width: 100%; // Obrazek zajmuje 100% szerokości swojego kontenera (4 kolumny siatki)
        height: auto; // Wysokość dopasowuje się automatycznie, zachowując proporcje obrazka
        min-height: 318px; // Minimalna wysokość, aby zachować wygląd
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  @include media.grid-1440 {
    &__nav {
      &-menu {
        display: none;
      }
    }
    &__context {
      display: grid;
      align-items: center;
      gap: 30px;
      grid-template-columns: repeat(12, 1fr);

      margin: 170px 0;

      &-container {
        grid-column: 1 / span 4;
      }

      &-title {
        margin: 0 0 30px;

        @include fonts.h1-desktop;
      }
      &-image {
        grid-column: 5 / -1;

        min-height: 464px;
        background-image: url('/src/images/header/header-desktop.png');
      }
    }
  }
}
